body {
	text-align: center;
	padding: 1em;
	background: #222;
	color: #fff;
	font-family: Arial, sans-serif;
}

.meme-button {
	cursor: pointer;
	font-style: italic;
	padding: 1em;
}

.meme-item {
	display: inline-block;
	position: relative;
	text-align: left;
	padding: 1em;
	width: 8em;
	height: 8em;
	margin: .5em;
	cursor: pointer;
}

.meme-img {
	width: 8em;
	height: 8em;
	border-radius: .5em;
	border: 2px solid #fff;
	object-fit: cover;
	filter: brightness(90%);
}

.my-meme-img {
	display: inline-block;
	position: relative;
	height: 30%;
	width: 30%;
	margin: .5em;
	border-radius: 3px;
	border: 2px solid #fff;
}

.darken-img {
	background-color: #888;
	filter: brightness(10%);
	animation-name: darken-img;
	animation-duration: 1s;
}

.meme-text {
	width: 8em;
	text-align: center;
	font-size: .9em;
	position: absolute;
	bottom: 0;
	padding: .2em;
	animation-name: fade-in;
	animation-duration: 1s;
}

.no-text {
	display: none;
}

@keyframes darken-img {
	from {
		filter: brightness(90%)
	}
	to {
		filter: brightness(10%)
	}
}

@keyframes fade-in {
	from {
		opacity: 0
	}
	to {
		opacity: 100
	}
}