body {
	text-align: center;
	padding: 1em;
	background: #222;
	color: #fff;
	font-family: Arial, sans-serif;
}

.meme-button {
	cursor: pointer;
	font-style: italic;
	padding: 1em;
}

.meme-item {
	display: inline-block;
	position: relative;
	text-align: left;
	padding: 1em;
	width: 8em;
	height: 8em;
	margin: .5em;
	cursor: pointer;
}

.meme-img {
	width: 8em;
	height: 8em;
	border-radius: .5em;
	border: 2px solid #fff;
	object-fit: cover;
	filter: brightness(90%);
}

.meme-text {
	width: 8em;
	text-align: center;
	position: absolute;
	bottom: 0;
	padding: .2em;
}