.App {
	padding: 5%;
	text-align: center;
	font-size: 1em;
}

.party-popper {
	width: 35%;
	height: 35%
}

.date-form {
	display: inline-flex;
	max-width: 20em;
}

.fade {
	animation-name: fade-in;
	animation-duration: 3s;
	opacity: 100;
}

@keyframes fade-in {
	from {
		opacity: 0
	}
	to {
		opacity: 100
	}
}