body {
	background-image: url('../assets/background.jpg');
	height: 100%;
	background-size: cover;
	background-repeat: none;
	opacity: .8;
}

h4 {
	margin-top: 1em;
}

.App {
	text-align: center;
	padding: 5%;
}

.column {
	flex-direction: column;
}

.list-group-item p {
	margin: 0;
}

.list-item {
	display: inline-block;
}

.right-button {
	cursor: pointer;
}

.hero-info-con {
	display: flex;
	justify-content: space-between;
	width: 100%;
}